body {
    margin: 0;
    background: darkgray;
    overflow: hidden;
    text-align: center;
}

#tetris {
    background: lightgray;
    border-color: gray;
    border-width: 5px;
    border-style: solid;
}
